// Override default variables before the import
$body-bg: rgb(22, 22, 22);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono:400&display=swap');
$display-font: 'Press Start 2P';
$base-font: 'Roboto Mono';

// Colors
$primaryBG: #0f0f0f;
$secondaryBG: #101623;

$primary: #fff;
$secondary: #6bbbfc;
$tertiary: #c7bcfe;
$disabled: #cccccc;

$deepblue: #522cfe;
$solidblue: #2e71fc;
$midblue: #5188fc;

// Common CSS
body:before {
  box-shadow: inset 0 0 8em rgba(25, 25, 25, 0.97);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  z-index: 0;
  overflow: hidden;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 1),
    rgba(black, 1) 1px,
    transparent 1px,
    transparent 2px
  );
  content: '';
}
body:after {
  content: '';
}
.container {
  @media (max-width: 576px) {
    padding: 0 30px;
  }
}
h1,
h2,
h3 {
  font-family: $display-font;
  color: $primary;
  text-shadow: 1px 1px transparentize(red, 0.6),
    -1px -1px transparentize($deepblue, 0.7),
    0 0 20px transparentize($primary, 0.5);
}

p {
  font-family: $base-font;
  color: $primary;
  font-size: 16px;
  line-height: 28px;
  margin: 25px 0;
  text-shadow: 0 0 30px transparentize($primary, 0.6);
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 38px;
}
.text-info {
  color: $solidblue !important;
}
button:focus {
  outline: none;
}
a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
  }

//Utility
.darkBG {
  background-color: $primaryBG;
}
.button-primary {
  background-color: $solidblue;
  font-family: $base-font;
  border-radius: 0;
  border: none;
  width: 160px;
  height: 50px;
  margin-top: 30px;
  &:hover {
    background-color: $deepblue;
  }
}
.center-me {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    justify-content: left;
  }
}
.insert-coin {
  width: 100%;
  margin-top: 30px;
  text-align: center;

  animation: blinkingText 1.2s infinite;

  @keyframes blinkingText {
    0% {
      color: rgb(22, 22, 22);
      text-shadow: none;
      filter: blur(15px);
    }
    29% {
      color: rgb(15, 15, 15);
      filter: blur(10px);
    }
    60% {
      color: $primary;
      text-shadow: none;
    }
    100% {
      color: $primary;
      text-shadow: none;
      filter: blur(1px);
    }
  }
}

// Nav
.Navbar {
  margin-bottom: 20px;
  .container {
    flex-wrap: nowrap;
    .navbar-collapse {
      @media (max-width: 991px) {
        flex-basis: auto;
      }
    }
  }
  @media (min-width: 576px) {
    margin-top: 80px;
  }
  @media (max-width: 991px) {
    .navbar-toggler {
      border: none;
      align-self: center;
      display: flex;
      justify-content: center;
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='83.6967' height='60.66225' viewBox='0 0 83.6967 60.66225'%3E%3Ctitle%3Emenu-icon%3C/title%3E%3Crect x='19.504' y='13.77819' width='41.99726' height='7.03038' style='fill: %23fff'/%3E%3Crect x='19.504' y='26.81593' width='41.99726' height='7.03038' style='fill: %23fff'/%3E%3Crect x='19.504' y='38.93954' width='41.99726' height='7.03038' style='fill: %23fff'/%3E%3C/svg%3E");
      }
    }
  }

  .navbar-nav {
    .nav-item {
      font-family: $display-font;
      font-size: 16px;
      @media (max-width: 768px) {
        font-size: 14px;
      }
      color: $primary;
      text-decoration: none;
      text-shadow: 1px 1px transparentize(red, 0.6),
        -1px -1px transparentize($deepblue, 0.7),
        0 0 20px transparentize($primary, 0.5);
      &:hover {
        background-color: $midblue !important;
        cursor: pointer;
        background: repeating-linear-gradient(
          0deg,
          rgba(black, 1),
          rgba(black, 1) 1px,
          transparent 1px,
          transparent 2px
        );
      }
    }
  }
}

// CSS
.App {
  height: 100vh;
  margin: 0 auto;
}
.Scoreboard {
  margin-top: 70px;
  @media (min-width: 576px) {
    margin-top: 110px;
  }
  margin-bottom: 30px;
  border: 0px;
  a {
    font-family: $display-font;
    color: $primary;
    padding: 0;
    padding-bottom: 5px;
    margin-bottom: 30px;
    margin-right: 30px;
    border: 0px !important;
    font-size: 16px;
    @media (max-width: 768px) {
      font-size: 14px;
    }
    text-transform: uppercase;
    text-shadow: 1px 1px transparentize(red, 0.7),
      -1px -1px transparentize($deepblue, 0.5),
      0 0 20px transparentize($primary, 0.5);
    &:hover {
      &:not(.active) {
        background-color: $midblue !important;
        cursor: pointer;
        background: repeating-linear-gradient(
          0deg,
          rgba(black, 1),
          rgba(black, 1) 1px,
          transparent 1px,
          transparent 2px
        );
      }
    }
  }
  a.active {
    color: $primary !important;
    border-bottom: 2px solid !important;
  }
}

.tab-content {
  border-style: double;
  border-color: $primary;
  outline: 1px solid $tertiary;
  outline-offset: -9px;
  padding: 20px 20px;
  max-height: 50vh;
  overflow-y: scroll;
  .tab-pane {
    &.highscores {
      table {
        thead, tbody {
          th, td {
            &:nth-child(1) {
              width: 40px;
              @media (max-width: 768px) {
                  width: 25px;
              }
            }
            &:nth-child(3) {
                width: 100px;
                @media (max-width: 768px) {
                    width: 50px;
                }
              }
          }
        }
      }
    }
    table {
      thead {
        th {
          border: 0px !important;
          color: $secondary;
          font-family: $display-font;
          text-transform: uppercase;
          text-shadow: 1px 1px transparentize(red, 0.7),
            -1px -1px transparentize($deepblue, 0.7),
            0 0 20px transparentize($primary, 0.6);
          @media (max-width: 576px) {
            font-size: 12px;
          }
        }
      }
      tbody {
        tr {
          &:hover {
            background-color: $midblue !important;
            cursor: pointer;
            background: repeating-linear-gradient(
              0deg,
              rgba(black, 0.7),
              rgba(black, 0.7) 1px,
              transparent 1px,
              transparent 2px
            );
          }
          td {
            border: 0px;
            font-size: 14px;
            line-height: 14px;
            color: $primary;
            font-family: $display-font;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100px !important;
            text-shadow: 1px 1px transparentize(red, 0.6),
              -1px -1px transparentize($deepblue, 0.7),
              0 0 20px transparentize($primary, 0.6);
            @media (max-width: 576px) {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

table {
  td {
    border: 0px;
  }
  thead {
    tr {
      th {
        border: 0px !important;
      }
      font-size: 14px;
      color: $tertiary;
      font-family: $display-font;
      text-shadow: 1px 1px transparentize(red, 0.7),
        -1px -1px transparentize($deepblue, 0.7),
        0 0 20px transparentize($primary, 0.6);
    }
  }
  tbody {
    tr {
      td {
        border: 0px !important;
        font-size: 14px;
        line-height: 14px;
        color: $primary;
        font-family: $display-font;
        text-shadow: 1px 1px transparentize(red, 0.6),
          -1px -1px transparentize($deepblue, 0.7),
          0 0 20px transparentize($primary, 0.6);
      }
    }
  }
}

.user-details {
  .row {
    .col {
      &:nth-child(2) {
        @media (max-width: 768px) {
          flex-basis: unset;
        }
      }
    }
  }
  .feed-wrapper {
    max-height: 55vh !important;
    overflow-y: scroll;
    margin-top: 20px;
    table {
      tbody,
      thead {
        tr {
          @media (max-width: 576px) {
            font-size: 10px;
          }
          td {
            @media (max-width: 768px) {
              font-size: 10px;
              max-width: 300px;
            }
            &:nth-child(1) {
              max-width: 300px;
              overflow: hidden;
              text-overflow: ellipsis;
              @media (max-width: 576px) {
                max-width: 100px;
              }
            }
            &:nth-child(4) {
              max-width: 200px;
              overflow: hidden;
              text-overflow: ellipsis;
              @media (max-width: 576px) {
                max-width: 100px;
              }
            }
          }
        }
      }
    }
  }
  .username {
    font-size: 28px;
    @media (max-width: 768px) {
        font-size: 22px;
    }
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .oneup-count {
    font-size: 16px;
    color: $secondary;
  }
  .button-options {
    .button-primary,
    p {
      margin-right: 20px;
    }
    p {
      margin: 0 20px;
      margin-bottom: 10px;
    }
    .button-primary {
      width: 9em;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .btn-info {
    &:disabled {
      background-color: $disabled;
      cursor: not-allowed;
    }
  }
}

.info {
  .row {
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      &:nth-child(2) {
        flex-direction: column;
      }
    }
    .col {
        margin-top: 60px;
    }
  }
  p {
    width: 85%;
  }
  .row {
    margin: 50px 0;
  }
}

.home-socials {
  margin-top: 30px;
}

.social-links {
  display: flex;
  flex-direction: row;

  .nav-item {
    margin-right: 20px;
  }
}
