// Override default variables before the import
$body-bg: rgb(22, 22, 22);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono:400&display=swap');
$display-font: 'Press Start 2P';
$base-font: 'Roboto Mono';

// Colors
$primaryBG: #0f0f0f;
$secondaryBG: #101623;

$primary: #fff;
$secondary: #6bbbfc;
$tertiary: #c7bcfe;
$disabled: #cccccc;

$deepblue: #522cfe;
$solidblue: #2e71fc;
$midblue: #5188fc;

// Common CSS
body:before {
  box-shadow: inset 0 0 8em rgba(25, 25, 25, 0.97);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  z-index: -1;
  overflow: hidden;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 1),
    rgba(black, 1) 1px,
    transparent 1px,
    transparent 2px
  );
  content: '';
}
.container {
  @media (max-width: 576px) {
    padding: 0 30px;
  }
}
h1,
h2,
h3 {
  font-family: $display-font;
  color: $primary;
  text-shadow: 1px 1px transparentize(red, 0.6),
    -1px -1px transparentize($deepblue, 0.7),
    0 0 20px transparentize($primary, 0.5);
}

p {
  font-family: $base-font;
  color: $primary;
  font-size: 16px;
  line-height: 28px;
  margin: 25px 0;
  text-shadow: 0 0 30px transparentize($primary, 0.6);
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 38px;
}
.text-info {
  color: $solidblue !important;
}
button:focus {
  outline: none;
}
a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

//Utility
.darkBG {
  background-color: $primaryBG;
}
.button-primary {
  background-color: $solidblue;
  font-family: $base-font;
  border-radius: 0;
  border: none;
  width: 160px;
  height: 50px;
  // margin-top: 30px;
  &:hover {
    background-color: $deepblue;
  }
}
.center-me {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    justify-content: left;
  }
}

// Components
.insert-coin {
  width: 100%;
  margin-top: 30px;
  text-align: center;

  animation: blinkingText 1.2s infinite;

  @keyframes blinkingText {
    0% {
      color: rgb(22, 22, 22);
      text-shadow: none;
      filter: blur(15px);
    }
    29% {
      color: rgb(15, 15, 15);
      filter: blur(10px);
    }
    60% {
      color: $primary;
      text-shadow: none;
    }
    100% {
      color: $primary;
      text-shadow: none;
      filter: blur(1px);
    }
  }
}




// Nav
.Navbar {
  margin-bottom: 20px;
  .container {
    flex-wrap: nowrap;
    .navbar-collapse {
      @media (max-width: 991px) {
        flex-basis: auto;
      }
    }
  }
  @media (min-width: 576px) {
    margin-top: 20px;
  }
  @media (max-width: 991px) {
    .navbar-toggler {
      border: none;
      align-self: center;
      display: flex;
      justify-content: center;
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='83.6967' height='60.66225' viewBox='0 0 83.6967 60.66225'%3E%3Ctitle%3Emenu-icon%3C/title%3E%3Crect x='19.504' y='13.77819' width='41.99726' height='7.03038' style='fill: %23fff'/%3E%3Crect x='19.504' y='26.81593' width='41.99726' height='7.03038' style='fill: %23fff'/%3E%3Crect x='19.504' y='38.93954' width='41.99726' height='7.03038' style='fill: %23fff'/%3E%3C/svg%3E");
      }
    }
  }

  .navbar-nav {
    .nav-item {
      font-family: $display-font;
      font-size: 16px;
      @media (max-width: 768px) {
        font-size: 14px;
      }
      color: $primary;
      text-decoration: none;
      text-shadow: 1px 1px transparentize(red, 0.6),
        -1px -1px transparentize($deepblue, 0.7),
        0 0 20px transparentize($primary, 0.5);
      &:hover {
        background-color: $midblue !important;
        cursor: pointer;
        background: repeating-linear-gradient(
          0deg,
          rgba(black, 1),
          rgba(black, 1) 1px,
          transparent 1px,
          transparent 2px
        );
      }
    }
  }
}

// CSS
.App {
  height: 100vh;
  margin: 0 auto;
}
.home {
  .hero-title {
    margin-top: 40px;
    @media (max-width: 576px) {
      margin-top: 0px;
    }
  }
  .insert-coin {
    font-size: 18px;
    margin-top: 70px;
    @media (max-width: 450px) {
      margin-top: 40px;
    }
  }
  .cta-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    .social-wrapper {
      margin-left: 30px;
      width: 100%;
      .social-links {
        display: flex;
        justify-content: flex-start;
      }
    }
  }
  .live-countdown-wrapper {
    text-align: center;
    @media (max-width: 450px) {
      margin-bottom: 40px;
    }
    p {
      font-family: $base-font;
    }
    .live-countdown-timer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      div {
          margin-right: 30px;
          display:inline-flex;
          p {
            margin: 0;
            &.number {
              font-size: 18px;
              margin-right: 5px;
            }
            &:not(.number) {
              font-size: 14px;
            }
          font-family: $display-font;
          color: $primary;
          text-shadow: 1px 1px transparentize(red, 0.6),
            -1px -1px transparentize($deepblue, 0.7),
            0 0 20px transparentize($primary, 0.5);
        }
      }
    }
    p {
      font-family: $display-font;
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
}
.Scoreboard {
  margin-top: 40px;
  /*   @media (min-width: 576px) {
  margin-top: 110px;
  } */
  margin-bottom: 30px;
  border: 0px;
  a {
    font-family: $display-font;
    color: $primary;
    padding: 0;
    padding-bottom: 5px;
    margin-bottom: 30px;
    margin-right: 30px;
    border: 0px !important;
    font-size: 16px;
    @media (max-width: 768px) {
      font-size: 14px;
    }
    @media (max-width: 576px) {
      font-size: 12px;
    }
    text-transform: uppercase;
    text-shadow: 1px 1px transparentize(red, 0.7),
      -1px -1px transparentize($deepblue, 0.5),
      0 0 20px transparentize($primary, 0.5);
    &:hover {
      &:not(.active) {
        background-color: $midblue !important;
        cursor: pointer;
        background: repeating-linear-gradient(
          0deg,
          rgba(black, 1),
          rgba(black, 1) 1px,
          transparent 1px,
          transparent 2px
        );
      }
    }
  }
  a.active {
    color: $primary !important;
    border-bottom: 2px solid !important;
  }
}



.tab-content {
  &:after {
    box-shadow: inset 0 0 8em rgba(45, 45, 45, 0.97);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: repeating-linear-gradient(
      0deg,
      rgba(black, 1),
      rgba(black, 1) 1px,
      transparent 1px,
      transparent 2px
    );
    content: '';
  }
  border-style: double;
  border-color: $primary;
  box-shadow: inset 0 0 8em rgba(35, 35, 35, 0.97);
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 1),
    rgba(black, 1) 2px,
    transparent 2px,
    transparent 4px
  );
  padding: 20px 20px;
  max-height: 50vh;
  overflow-y: scroll;
  border-radius: 10px;
  .tab-pane {
    @media (max-width: 450px) {
      overflow-x: scroll;
    }
    // HIGHSCORES TAB
    &.highscores {
      table {
        thead,
        tbody {
          th,
          td {
            &:nth-child(1) {
              width: 5vw;
              @media (max-width: 768px) {
                width: 15vwpx;
              }
            }
            &:nth-child(3) {
              width: 10vw;
              @media (max-width: 768px) {
                width: 15vw;
              }
            }
          }
        }
      }
    }
    // RECENT SCORES TAB
    &.recentscores {
      table {
        thead,
        tbody {
          th,
          td {
            &:nth-child(1) {
              width: 15vw;
              @media (max-width: 768px) {
                width: 30vw;
              }
              @media (max-width: 450px) {
                width: 80vw;
              }
            }
            &:nth-child(2) {
              width: 15vw;
              @media (max-width: 768px) {
                width: 30vw;
              }
              @media (max-width: 450px) {
                width: 80vw;
              }
            }
            &:nth-child(3) {
              width: 20vw;
              @media (max-width: 991px) {
                display: none;
              }
              @media (max-width: 450px) {
                width: 80vw;
              }
            }
          }
        }
      }
    }
    // ALL 1-UPS FEED
    &:not(.recentscores) {
      .all-1ups {
        thead,
        tbody {
          th,
          td {
            &:nth-child(1) {
              width: 5vw !important;
              text-overflow: unset;
              @media (min-width: 1280px) {
                width: 3vw !important;
              }
            }
            &:nth-child(2) {
              width: 17vw !important;
              @media (min-width: 1280px) {
                width: 10vw !important;
              }
              @media (max-width: 768px) {
                width: 50vw !important;
              }
            }
            &:nth-child(3) {
              width: 8vw !important;
              @media (max-width: 991px) {
                width: 10vw !important;
              }
              @media (max-width: 768px) {
                width: 20vw !important;
              }
              @media (min-width: 1280px) {
                width: 10vw !important;
              }
            }
            &:nth-child(4) {
              width: 17vw !important;
              @media (min-width: 1280px) {
                width: 13vw !important;
              }
              @media (max-width: 768px) {
                width: 100vw !important;
              }
            }
            &:nth-child(5) {
              @media (max-width: 768px) {
                width: 140vw !important;
              }
            }
          }
          tr {
            cursor: default;
          }
        }
      }
    }
    // SUBMISSIONS FEED
    &.submissions {
      table {
        thead,
        tbody {
          th,
          td {
            &:nth-child(1) {
              width: 5vw !important;
              @media (max-width: 991px) {
                width: 10vw !important;
              }
              @media (max-width: 768px) {
                width: 15vw !important;
              }
            }
            &:nth-child(2) {
              width: 15vw !important;
              @media (min-width: 1280px) {
                width: 10vw !important;
              }
              @media (max-width: 768px) {
                width: 20vw !important;
              }
            }
            &:nth-child(3) {
              @media (max-width: 768px) {
                width: 90vw !important;
              }
            }
            &:nth-child(4) {
              width: 10vw !important;
              @media (min-width: 1280px) {
                width: 5vw !important;
              }
              @media (max-width: 768px) {
                width: 20vw !important;
              }
            }
            &:nth-child(5) {
              width: 10vw !important;
              @media (max-width: 768px) {
                display: none;
              }
            }
          }
        }
        tbody {
          tr {
            td {
              &:nth-child(2) {
                width: 100px !important;
              }
              &:nth-child(3) {
                max-width: 40vw !important;
                text-overflow: ellipsis;

                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }
}

// Applies to ALL TABLES except SUBMISSIONS
table {
  table-layout: fixed;
  td {
    border: 0px;
  }
  thead {
    background-color: #2d71fc57;
    th {
      border: 0px !important;
      color: white;
      font-family: $display-font;
      text-transform: uppercase;
      text-shadow: 1px 1px transparentize(red, 0.7),
        -1px -1px transparentize($deepblue, 0.7),
        0 0 20px transparentize($primary, 0.6);
      @media (max-width: 576px) {
        font-size: 12px;
      }
      &:nth-child(1) {
        @media (max-width: 576px) {
          max-width: 30px;
          overflow: hidden;
        }
      }
    }
    tr {
      th {
        border: 0px !important;
      }
      font-size: 14px;
      @media (max-width: 768px) {
        font-size: 12px !important;
      }
      color: $tertiary;

      font-family: $display-font;
      text-shadow: 1px 1px transparentize(red, 0.7),
        -1px -1px transparentize($deepblue, 0.7),
        0 0 20px transparentize($primary, 0.6);
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: $midblue !important;
        cursor: pointer;
        background: repeating-linear-gradient(
          0deg,
          rgba(black, 0.7),
          rgba(black, 0.7) 1px,
          transparent 1px,
          transparent 2px
        );
      }
      td {
        border: 0px !important;
        font-size: 14px;
        @media (max-width: 768px) {
          font-size: 12px !important;
        }
        line-height: 14px;
        color: $primary;
        font-family: $display-font;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 20px;
        white-space: nowrap;
        text-shadow: 1px 1px transparentize(red, 0.6),
          -1px -1px transparentize($deepblue, 0.7),
          0 0 20px transparentize($primary, 0.6);
        @media (max-width: 576px) {
          font-size: 10px;
        }
      }
    }
  }
}

.user-details {
  .row {
    .col {
      &:nth-child(2) {
        @media (max-width: 768px) {
          flex-basis: unset;
        }
      }
    }
  }
  .username {
    font-size: 24px;
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      font-size: 22px;
    }
    max-width: 18em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    img {
      margin-right: 20px;
    }
  }
  .other-username-wrapper {
    margin: 30px 0;
    h3 {
      font-size: 14px;
      color: white;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      @media (max-width: 450px) {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      img {
        margin-right: 15px;
      }
    }

  }
  .oneup-count {
    font-size: 16px;
    color: $secondary;
    line-height: 24px;
  }
  .oneup-total-wrapper {
    h3 {
      span {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
    .upBalance {
      h3 {
      margin-top: 20px;
      color:$tertiary;
        span {
          font-size: 12px;
          text-transform: uppercase;
        }
      }
    }
  }
  .button-options {
    @media (max-width: 450px) {
      margin-bottom: 30px;
    }
    .button-primary,
    p {
      margin-right: 20px;
    }
    p {
      // margin: 0 20px;
      margin-bottom: 10px;
    }
    .button-primary {
      width: 12em;
      margin-top: 10px;
      margin-bottom: 10px;
      line-height: 34px;
    }
  }
  .btn-info {
    &:disabled {
      background-color: $disabled;
      cursor: not-allowed;
    }
  }
  .emoji-wrapper {
    p {
        margin: 5px 0;
    }
  }
  .live-countdown-wrapper {
    text-align: left;
    margin-bottom: 20px;
    .live-countdown-timer {
      display: flex;
      flex-direction: row;
      justify-content: left;
      div {
          margin-right: 30px;
          display:inline-flex;
          p {
            margin: 0;
            &.number {
              font-size: 18px;
              margin-right: 5px;
            }
            &:not(.number) {
              font-size: 14px;
              line-height: 30px;
            }
          font-family: $display-font;
          color: $primary;
          text-shadow: 1px 1px transparentize(red, 0.6),
            -1px -1px transparentize($deepblue, 0.7),
            0 0 20px transparentize($primary, 0.5);
        }
      }
    }
    p {
      font-family: $display-font;
      font-size: 12px;
      margin-bottom: 5px;
    }
  }
}

.info {
  .row {
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      &:nth-child(2) {
        flex-direction: column;
      }
    }
    .col {
      margin-top: 60px;
    }
  }
  p {
    width: 85%;
  }
  .row {
    margin: 50px 0;
  }
}

.home-socials {
  margin-top: 30px;
}

.social-links {
  .nav-item {
    margin-right: 20px;
  }
}

.countdown-timer {
  p {
    margin-left: 0 !important;
    font-weight: 800;
    span {
      color: $secondary;
    }
  }
}
//SUBMISSIONS PAGE IS NOT SUBMISSIONS FEED, FEED IS ON USER-DETAIL PAGE
.submissions-page {
  .submission-id {
    font-size: 14px;
  }
  .other-username-wrapper  {
    margin-top: 20px;
  }
  .table-outline {
    border-style: double;
    border-color: $primary;
    border-radius: 10px;
    padding: 20px 10px;
    max-height: 60vh;
    overflow-y: scroll;
    z-index: 3;
    box-shadow: inset 0 0 8em rgba(35, 35, 35, 0.93);
    background: repeating-linear-gradient(
      0deg,
      rgba(black, 1),
      rgba(black, 1) 2px,
      transparent 2px,
      transparent 4px
    );
  }
  .table {
    thead,
    tbody {
      th,
      td {
        &:nth-child(1) {
          width: 15vw !important;
          display: none;
          @media (min-width: 1280px) {
            width: 10vw !important;
          }
        }
        &:nth-child(2) {
          width: 15vw !important;
          @media (min-width: 1280px) {
            width: 16vw !important;
          }
        }
        &:nth-child(3) {
          width: 8vw !important;
          @media (max-width: 991px) {
            display: none;
          }
          @media (max-width: 768px) {
            display: none;
          }
        }
        &:nth-child(4) {
          width: 13vw !important;
          @media (min-width: 1280px) {
            width: 18vw !important;
          }
        }
      }
      tr {
        cursor: default;
      }
    }
  }
}
